*{
    box-sizing: border-box;
}

body{
    background-color: #200300;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.navbar{
    width: 40%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
  }
  
  .logo{
      width: 120px;
      cursor: pointer;
  }
  
  nav {
      position: fixed;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      height: 70px;
      background-color: rgba(41, 39, 39, 0.3);
      padding: 0 2%;
  }
  
  nav .links{
      float: right;
      padding: 0;
      margin: 0;
      height: 100%;
      /*width: 10px;*/
      display: flex;
      justify-content:center;
      align-items: center;
  }
  
  nav .links li {
      list-style: none;
  }
  
  nav .links a {
      display: block;
      padding: 1em;
      background-color: #E07B29;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      font-family: 'Ubuntu', sans-serif;
  }

  .title{
    color: #E07B29;;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

/* align items center vertically and horizontally  */
.container{
    display: flex;
    justify-content: center;
    align-items:center !important;
    /*height: 65vh;*/
  }
  
    .form{
      width: 450px;
      height: auto;
      background-color: rgba(41, 39, 39, 0.6);
      box-shadow: 0 5px 30px black;
    }
  
    .btn button {
      padding: 3px;
      margin: 30px 0px 40px 30px;
      border-style: none;
      background-color: transparent;
      color: beige;
      font-size: 18px;
      font-weight: 550;
    }
  
    .formGroup{
      display: flex;
      justify-content: center;
    }
  
    .formGroup input{
      border: none;
      width: 80%;
      border-bottom: 2px solid white;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      color: white;
    }
  
    input:focus {
      outline: none !important;
      border-bottom: 2px solid #E07B29;
      font-size: 17px;
      font-weight: bold;
      color: white;
    }
  
    ::placeholder {
      color: white;
    }
  
    .checkBox{
      display: flex;
      justify-content: center;
      margin: 16px!important;
    }
     
    #checkbox{
      margin-right: 10px;
      height: 15px;
      width: 15px;
    }
  
    .text{
      color: rgb(199, 197, 197);
      font-size: 13px;
    }
  
    .submitBtn {
      text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
  
      padding: 10px;
      width: 150px;
      border-radius: 20px;
      background: linear-gradient(#E07B29, #AF4C23);
      border-style: none;
      color: white;
      font-weight: 600;
    }
  
    .submitBtn:focus{
      outline: none !important;
      border-bottom: none;
      font-size: 14px;
      font-weight: bold;
      color: white;
    }

    .formSelect{
        color: white;
        font-family: 'Ubuntu', sans-serif;
        border: none;
        width: 100%;
        border-bottom: 2px solid white;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
    }

    .formSelect:focus {
        outline: none !important;
        border-bottom: 2px solid #E07B29;
        font-size: 17px;
        font-weight: bold;
        color: white;
        background-color: transparent;

      }

      option{
          color: white;
          background-color: #200300;
      }

      .errors{
        font-size: 16px;
        color: red;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
      }
    
      .errors li{
        text-decoration: none; 
        list-style-type: none;
      }

      @media only screen and (max-width: 500px){
        nav .links{
            font-size: 15px;
        }
    }
    
    @media only screen and (max-width: 400px){
        nav .links{
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 320px){
        nav .links{
            font-size: 10px;
        }
    }